<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Posts - Quora Style</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Latest Community Posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user"> <%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:3000/posts/<%= post.id %>" class="detail-link">Read Full Post</a>
            <a href="http://localhost:3000/posts/<%= post.id %>/edit" class="detail-link">Edit Post Content</a>
           
          <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
    <button class="delete-button">Delete Post</button>
</form>

        </div>
    <% } %>
    <br />
    <br />
    <a href="http://localhost:3000/posts/new" class="create-post-link">Create a New Post</a>
</body>
</html>
